/*Estilo para el background del body*/
body {
    background: url("https://static-dm.akamaized.net/siege/prod/fe44dc601d5a0312a78258c19b2f9e5e.jpg") no-repeat;
    background-size: 100% 100%;
    padding-top: 10px;
}

/*Estilo para la cabecera superior de la página*/
.cabecera {
    height: 3.5em;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    min-width: 250px;
    flex-wrap: wrap;
    border-bottom: red 2px solid;
}

/*Estilo para los logos de las redes sociales*/
.fb {
    height: 25px;
    width: 25px;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.ig {
    height: 25px;
    width: 25px;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.twitch {
    height: 25px;
    width: 25px;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.twit {
    height: 25px;
    width: 25px;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.ubiLogo {
    float: left;
    width: 100px;
    height: 30px;
    margin-left: 20px;
}

/*Estilo para el titulo central de la página*/
.titulo {
    margin: 10px;
    margin-top: 15px;
    height: 100px;
    text-align: center;
    flex-wrap: wrap;
    min-width: 250px;
}

.center {
    float: left;
    width: 100%;
}

/*Estilo para el logo principal de la página*/
.r6Titulo {
    width: 350px;
}

/*Estilo para la barra de navegación de la página*/
nav{
    position: relative;
    top:0;
    z-index: 1;
    background-color: black;
}

/*Estilo para el menu de la barra de navegación*/
.menu {
    padding: 10px;
    margin-bottom:10px;
    margin-top: 10px;
    text-align: center;
    flex-wrap: wrap;
    min-width: 250px;
}

/*Estilo para la lista del menu (responsiva)*/
.lista_menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

/*Estilo para la lista del menu*/
@media (min-width:759px) {
    nav{
        position: sticky;
        top:0;
        z-index: 1;
        background-color: black;
    }

    .lista_menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.li_menu {
    font-family: 'Ghost Clan 3D', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.li_menu:hover {
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.5), rgba(0, 255, 230, 0) 50%);
    border-bottom: 5px solid rgba(255, 0, 0, 0.39);
}

/*Estilo para cada elemento de la lista del menu*/
.URLInicio,
.URLNoticias,
.URLAgentes,
.URLModMap,
.URLEsports {
    text-decoration: none;
    color: #BFBA9F;
    font-family: 'Ghost Clan 3D', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.URLInicio:hover,
.URLNoticias:hover,
.URLAgentes:hover,
.URLModMap:hover,
.URLEsports:hover {
    color: white;
}

/*Estilo para el cuerpo de la página*/
.cuerpo{
    display: flex;
    flex-flow: row;
}

/*Estilo para el contenido de la pagina*/
.contenido {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    min-width: 250px;
    text-align: center;
}

/*Estilo para el indice lateral (responsive)*/
.indice {
    display: none;
}

/*Estilo para el indice horizontal (responsive)*/
.indice_reducido{
    display: inline;
    width: 100%;
    padding: 10px;
}

/*Estilo para los titulos (responsive)*/
.titulosO{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    list-style: none;
}

.listaAtacantesO{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.listaDefensores{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}


@media (min-width:759px) {
    /*Estilo para el contenido de la pagina*/
    .contenido {
        position: relative;
        width: 80%;
        flex-wrap: wrap;
        min-width: 250px;
        color:white;
    }

    /*Estilo para el indice lateral*/
    .indice {
        display: block;
        position: relative;
        width: 20%;
        flex-wrap: wrap;
        min-width: 250px;
        background-color: none;
        transition-property: background;
        transition-delay: 0.5s;
        transition-duration: 0.9s;
    }

    .indice:hover{
        background-color: black;
        transition-property: background;
        transition-delay: 0.5s;
        transition-duration: 0.9s;
    }

    /*Estilo para los titulos*/
    .titulos{
        list-style: none;
        padding: 10px;
    }

    .sold{
        font-size: 20px;
        font-family: 'Ghost Clan Gradient', sans-serif;
        color: rgb(255, 0, 0);
    }

    .tituloAtacantes{
        font-size: 20px;
        font-family: 'Ghost Clan', sans-serif;
        color: white;
    }

    .tituloDefensores{
        margin-top: 20px;
        font-size: 20px;
        font-family: 'Ghost Clan', sans-serif;
        color: white;
    }

    /*Estilo para las sublistas*/
    .lAgen{
        padding: 5px;
        cursor: pointer;
    }

    .lAgen > ul{
        display: none;
        list-style: none;
    }

    .listaAgentes{
        padding: 3px;
        list-style: none;
    }
    
    ul{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
    }

    .abierta > ul{
        display: list-item;
    }

    /*Estilo para el indice horizontal*/
    .indice_reducido{
        display: none;
    }
}

/*Estilo para el pie de la página*/
.pie {
    margin-top: 15px;
    flex-wrap: wrap;
    min-width: 250px;
}

/*Estilo para la lista del pie*/
.listaPie{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    width: 100%;
}

.liPie1, .liPie2{
    width: 40%;
}

.liPie3{
    width: 20%;
}

/*Estilo para el primer elemento de la lista*/
.servicioCliente {
    width: 40%;
}

/*Estilo para el contenido del primer elemento de la lista*/
.titulo_sc {
    font-size: 20px;
    font-family:'Ghost Clan', sans-serif;
    letter-spacing: 2px;
    color:rgba(255, 0, 0, 0.5);
}

.soporte {
    color:white;
    text-decoration: none;
    font-family: 'Navine Demo', sans-serif;
}

.soporte:hover{
    color:rgba(255, 0, 0, 0.5);
}

/*Estilo para el segundo elemento de la lista*/
.infoAdicional {
    width: 40%;
}

/*Estilo para el contenido del segundo elemento de la lista*/
.info_list a{
    color:white;
    text-decoration: none;
    font-family: 'Navine Demo', sans-serif;
}

.info_list a:hover{
    color:rgba(255, 0, 0, 0.5);
    text-decoration: none;
}

.listCliente{
    display: flex;
    flex-flow: column wrap;
}

.titulo_ia {
    font-size: 20px;
    font-family:'Ghost Clan', sans-serif;
    letter-spacing: 2px;
    color:rgba(255, 0, 0, 0.5);
}

/*Estilo para el tercer elemento de la lista*/
.pegi18 {
    position: relative;
    top:40%;
    width: 20%;
    text-align: center;
}

.logo_18 {
    width: 60px;
}