body{
    background-color: aqua;
}

h1{
    text-align: center;
}

p{
    font-size: 20px;
    font-weight: bold;
}

label{
    display: block;
    padding: 5px;
}

.selectCateg{
    width: 300px;
}

.inputSabor{
    width: 300px;
}

