@charset "utf-8";

/* --- RESET CSS --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --- FIN DEL RESET CSS --- */

 /* Estilo para todas las páginas con selector de etiqueta*/
 body{
	font-family: Calibri, Candara, Cambria,Arial, Times, 'Times New Roman', serif;
    background-color: #fff;;
    width: 900px;
    margin: auto;
}

#cabeceraweb {	
    margin-top: 25px;
    font-family: Calibri, Candara, Cambria,Arial, Times, 'Times New Roman', serif;
    background-position: left center;
    background-color: #fff;
    height: 150px;
}

#cabeceraweb h1 {
    color:#000;
    font-family: Calibri, Candara, Cambria,Arial, Times, 'Times New Roman', serif;
    font-size: 2em;
    text-shadow: 2px 2px 2px #0096c3;
    padding-top: 30px;
}

#cabeceraweb h1 strong {
    font-size: 100px;
    color:#0096c3;
    text-shadow: 2px 2px 2px #000;
    margin-left: 5px;
    margin-right: -0.5em;
}

#cabeceraweb #logoVdM {
    float:left;
}

#navegacion, #navegacion_daw, #navegacion_somos, #navegacion_contacto {
    font-family: Calibri, Candara, Cambria,Arial, Times, 'Times New Roman', serif;
    color: #030751;
    text-decoration: none;    
    background-color:#0096c3; 
    height: 40px;
}

#menu {    
    color: #030751;
    width:900px;
    text-align: center;
}

#menu li{
    width:300px;
    float: left;
    align-content: center;
}

#menu a {    
    color:#030751;
    text-decoration: none;    
    line-height: 35px;
    font-size: 1.1em;
    font-weight: bold;    
    display: block;
    border-bottom: 2px solid #030751;
    height: 40px;
}

#menu a:hover {    
    color:#fff;
    background-color:#030751;
    border-bottom: 2px solid #fff;
}

#navegacion_daw #daw, #navegacion_somos #somos, #navegacion_contacto #contacto {
    color:#030751;
    border-bottom: 2px solid #030751;
    background-color: #8C8B8B;
}

#contenidoprincipal{
    background-color: #fff;
}

#contenidoprincipal{
    font-family: Calibri, Candara, Cambria,Arial, Times, 'Times New Roman', serif;    
    background-color: #fff;    
}

#contenidoprincipal .titulo{
    margin-top: 25px;
    margin-bottom: 15px;
    background-position: left center;
    color:#0096c3;
    font-size: 30px;
    text-shadow: 2px 2px 2px #030751;
}

#contenidoprincipal .apartados{
    font-size: 18px;
    color:#000;
    margin-bottom: 15px;
    font-weight: bold;
}

#contenidoprincipal .descrip {
    padding-left: 10px;
    margin-bottom: 15px;
    text-align: justify;
}

#contenidoprincipal .img_daw {
    padding-left: 10px;
}

#contenidoprincipal .lista {
    list-style: disc;
    margin-left: 80px;
    margin-bottom: 20px;
    line-height: 1.3em;
}

#contenidoprincipal .lista_ord {
    list-style: decimal;
    margin-left: 90px;
    margin-bottom: 20px;
    line-height: 1.3em;
}

#horario {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;       
    text-align: center;
    border: 1px solid #0096c3;  
    border-collapse: collapse;
}

#horario .cabecera_horario {
    background-color: #0a0129;
    font-style: italic;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    border: 1px solid #ffffff;
    vertical-align: middle;   
    height: 30px; 
    padding: 10px;
}

#horario td {
    padding: 10px;
    border: 1px solid #ffffff;   
    height: 30px;
    vertical-align: middle;   
}

#asig {
    font-size: 1.1em;
    font-weight: bold;
}

#recreo {
    background-color: hotpink;
}

#inter {
    background-color: rgb(105, 63, 221);
    color:#ffffff
}

#ingles {
    background-color: rgb(253, 255, 107);
}

#desp {
    background-color: rgb(47, 236, 104);
}

#ento-cli{
    background-color:#030751;
    color:#ffffff
}

#ento-serv{
    background-color:#b10e3f;
    color:#ffffff
}

#eie{
    background-color:#daa30c;
}

#formulario table {
    width: 80%;
    margin:auto;
    border-collapse: collapse;
    border-width: 0px;
    background-color: #ffffff;
}

#formulario tr {
    height: 40px;
}

#formulario th {
    text-align: right;
    font-weight: bold;
    background-color: rgb(12, 9, 83);
    color: #ffffff;
    padding-right: 10px;
    vertical-align: middle;
    width: 150px;
}

#formulario td {
    padding-left: 10px;
    text-align: left;
    background-color:dodgerblue;
    vertical-align: middle;
}

#formulario .separacion {
    text-align: center;
}

#pieprincipal {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
    text-align: center;
    font-family: Calibri, Candara, Cambria,Arial, Times, 'Times New Roman', serif;
    background-color:#0096c3;
    color:white;
}

#pieprincipal a{
    text-decoration: none;
    color:#030751;
}

#pieprincipal #autor {
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}