.fruta{
    list-style: none;
    display: inline-block;
    margin: 30px;
    border: 1px blue solid;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    background-color: blue;
    color: white;
    text-align: center;
}

img{
    width: 100px;
    height: 100px;
}

.fruta img{
    display: none;
}

.fruta:hover{
    background-color: green;

}

.fruta:hover img{
    display: block;
}
