.principal{
  width: 1000px;
}
.izquierda{
  background: skyblue;
  width: 500px;
  text-align: center;
}
.derecha{
  width: 500px;
  text-align: left;
}
.extrasTitulo,.contacto{
  font-size: 20px;
  font-family: Verdana;
}
.foto{

}
.nombre{
  font-size: 25px;
  text-decoration: underline;
  font-family: cursive;
  padding-bottom: 20px;
  text-align: center;
}
.datosContacto{
  font-size: 14px;
}
.ofimatica{
  padding-left: 15px;
  text-align: left;
  font-size: 20px;
  padding-top: 10px;
}
.extras{
  padding-left: 20px;
  text-align: left;
}
.idiomas{
  padding-left: 20px;
  text-align: left;
  font-size: 20px;
  padding-top: 15px;
}
span.nivel{
  padding-left: 30px;
  display: block;
  color: white;
}
.objetivo{
  font-size: 20px;
  padding: 15px;
  padding-top: 20px;
}
.descripcion{
  padding-left: 15px;
}
.fAcad{
  padding: 15px;
  padding-top: 20px;
  font-size: 20px;
}
span.formA{
  display: block;
}
.formacAcad{
  padding-left: 25px;
}
