body{
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: 15px;
}
div.cabecera{
  border-top: 10px dashed green;
  border-left: 5px solid green;
  border-right: 5px solid green;
  border-bottom: none;
}
.titulo{
 font-size: 40px;
 font-family: Courier New;
 font-weight: bold;
 text-align: center;
}
.imagen_cabecera{
  width: 50px;
}
div.revista{
  border: 5px solid green;
  border-top: none;
  border-bottom: 10px dashed green;
  padding: 50px;
}
div.menu{
  border: 5px blue dotted;
  border-bottom: solid blue;
  background: black;
  width: 1100px;
  text-align: center;
  color:skyblue;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 100px;
}
.inicio{
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.tabla_inicio_li{
  font-size: 30px;
  font-family: Times New Roman;
}
a.inicio_li{
  text-decoration: none;
  color:skyblue;
  padding: 20px;
}
a.inicio_li:hover{
  color:blue;
}
li.tabla_inicio_li{
  border: 2px blue solid;
  display: inline;
  padding: 10px;
  padding-bottom: 2px;
}
li.tabla_inicio_li:hover{
  background: skyblue;
}
div.titulo_noticias{
  margin-bottom: 100px;
}
p.noticias_titulo{
  text-align: center;
}
span.noticias_titulo{
  font-size: 30px;
  font-family: Verdana;
  color:red;
  font-weight: bold;
  text-decoration: underline;
}
.noticias{
  background-color: white;
  width:70%;
  margin-left: 290px;
  margin-right: 290px;
}
.tabla_noticias{
  background-color: black;
  color:white;
}
.celda{
  border: 2px red solid;
  padding: 20px;
}
p.compra{
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}
a.compra{
  color: white;
}
a.compra:hover{
  color:red;
}
th.celda{
  text-align: left;
  color:orange;
}
p.nuevos_lanzamientos{
  font-size: 20px;
  color:white;
  font-weight: bold;
  text-align: center;
}
td.imagen_noticias{
  text-align: center;
}
.imagen_fc{
  width: 250px;
}
.imagen_fh, .imagen_cod1{
  width: 300px;
}
div.esport{
  border: 5px purple solid;
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px;
}
p.esports{
  text-align: center;
}
span.titulo_esport{
  text-decoration: underline;
  font-weight: bold;
  font-size: 30px;
  font-family: Verdana;
  color:purple;
}
.titulo_lol{
  font-size: 25px;
}
.imagen_lol{
  width: 300px;
  margin-top: 50px;
}
p.texto_lol{
  text-align: center;
}
.esport td a{
  text-decoration: none;
  color:white;
}
.esport td a:hover{
  color: purple;
  font-size: 20px;
}
.titulo_cod2{
  font-size: 25px;
}
.imagen_cod2{
  width: 300px;
  margin-top: 50px;
}
p.texto_cod{
  text-align: center;
}
.titulo_r6{
  font-size: 25px;
}
.imagen_r6{
  width: 300px;
  margin-top: 50px;
}
p.texto_r6{
  text-align: center;
}
.tabla2{
  padding: 25px;
  color: 2px dashed purple;
}
div.nuestros_colaboradores{
  margin-top: 100px;
}
.titulo_c{
  color: lightgrey;
  font-size: 30px;
  font-family: Verdana;
  text-decoration: underline;
  font-weight: bold;
}
div.tabla_c{
  background: lightgrey;
  color:black;
  padding: 30px;
}
.colabor{
  text-align: center;
}
.tabla3{
  width: 100%;
}
.game, .riot, .activ, .ubi{
  padding: 5px;
  text-align: center;
}
.imagen_game{
  border: 5px #6B6969 solid;
  width: 220px;
}
.imagen_riot{
  border: 5px #6B6969 solid;
  width: 300px;
}
.imagen_ac{
  border: 5px #6B6969 solid;
  width: 400px;
}
.imagen_at{
  border: 5px #6B6969 solid;
  background: white;
  width: 150px;
  padding: 30px;
}
div.titulo_redes_sociales{
  margin-top: 100px;
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
}
div.final{
  margin-top: 20px;
  border: 5px yellow dashed;
  padding: 30px;
}
p.titulo_redes{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  font-family: Verdana;
}
.imagen_final{
  width:300px;
}
.rs{
  text-align: center;
  width: 300px;
}
.imagen_insta, .imagen_fb, .imagen_twit{
  width: 100px;
}
